@mixin border($width: 2px, $style: solid, $color: #000) {
    border: $width $style $color;
}

@mixin flex($direction, $gap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
}


.box {
    height: 300px;
}

.box-1 {
    @include border;
    @include flex(row, 0, center, center);
}

.box-2 {
    @include border(10px);
    @include flex(row, 0, space-between, center);
}

.box-3 {
    @include border(20px, double, firebrick);
    @include flex(row, 30px, flex-start, flex-start);

    div {
        background-color: firebrick;
        padding: 20px;
        color: #fff;
    }
}